@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css");
/*  SMALL RESET */
* {
  margin: 0;
  padding: 0;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
/* DISPLAY: FLEX */

.flex {
  display: flex;

  &-ai-c {
    align-items: center;
  }
  &-ai-s {
    align-items: stretch;
  }

  &-jc-c {
    justify-content: center;
  }
  &-jc-fe {
    justify-content: flex-end;
  }
  &-jc-fs {
    justify-content: flex-start;
  }

  &-fd-c {
    flex-direction: column;
  }
  &-jc-sb {
    justify-content: space-between;
  }
  &-jc-se {
    justify-content: space-evenly;
  }
}

/* FLOAT */

.float {
  float: left;

  &-r {
    float: right;
  }
}

/* POSITIONING */
.position {
  position: absolute;

  &-r {
    position: relative;
  }
  &-f {
    position: fixed;
  }
}

/* TEXT-ALIGN */
.text-c {
  text-align: center;
}

/* HEIGHT */
.h-100 {
  height: 100%;
}
/* BOTTOM */
.bottom {
  bottom: 0;
}
/* TOP */
.top {
  top: 0;
}

/* BACKGROUND */
.bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* TRANSITIONS */
.transition {
  transition: all 0.7s ease-in-out;
}

.transition_slow {
  transition: all 2s ease-in-out;
}

body {
  max-width: 100vw;
  height: 100%;
  font-family: $main_font;
  font-stretch: ultra-expanded;
  background-color: $homepage_bk;
  overflow-x: hidden;
  cursor: default;
  @include breakpoint-down("xllarge") {
    background-color: rgba(255, 0, 55, 0.644);
  }
  @include breakpoint-down("large") {
    background-color: rgb(123, 255, 0);
  }
  @include breakpoint-down("medium") {
    background-color: rgb(11, 177, 122);
  }
  @include breakpoint-down("small") {
    background-color: rgb(223, 126, 186);
  }
}
a {
  text-decoration: none;
  padding: 10px;
  font-size: 1.2rem;
  font-stretch: ultra-expanded;
  color: $darker_font;
}
a.jenny_nguyen_logo {
  border: solid 1px yellow;
  font-weight: 800;
  letter-spacing: 10px;
  color: $darker_font;
  &:hover {
    font-weight: 600;
  }
}

a.semester_collections {
  border: solid 1px firebrick;
  color: $darker_font;
  font-weight: 600;
  font-size: 1.1rem;
  margin-right: 1.5rem;
  &:hover {
    color: #000;
  }
}

/* NAVIGATION */
nav {
  border: solid 1px yellow;
  width: 90%;
  height: 5rem;
  margin: 2rem 0 0 2rem;
  .nav_left {
    height: 5rem;
    &-dropdown {
      &-btn {
        border: solid 1px green;
        cursor: pointer;
        font-size: 1.5rem;
        color: $darker_font;
        font-weight: 600;
        letter-spacing: 5px;
        /*   border: none; */
        background-color: $homepage_bk;
      }
      &_items {
        opacity: 1;
        margin-top: 1rem;
        @include breakpoint-down("medium") {
          display: none;
        }
      }
    }
  }
  .nav_right {
    width: 20%;
    @include breakpoint-down("medium") {
      width: 50%;
    }
  }
}

/* SMALL NAVIGATION */
.small_nav {
  border: solid 1px black;
  background-color: $homepage_bk;
  z-index: 1000;
  width: 80vw;
  height: 60vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: -60rem;
  transition: 0.1s ease-in-out;
  @include breakpoint-up("medium") {
    display: none;
  }
  .small_sem {
    border: solid 1px red;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      color: #fff;
      font-size: 3rem;
    }
    img {
      width: 20%;
    }
  }
  i.click {
    font-size: 2rem;
    right: 0;
    cursor: pointer;
  }
}
