@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css");
/*  SMALL RESET */
* {
  margin: 0;
  padding: 0;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
/* DISPLAY: FLEX */

.flex {
  display: flex;

  &-ai-c {
    align-items: center;
  }
  &-ai-s {
    align-items: stretch;
  }

  &-jc-c {
    justify-content: center;
  }
  &-jc-fe {
    justify-content: flex-end;
  }
  &-jc-fs {
    justify-content: flex-start;
  }

  &-fd-c {
    flex-direction: column;
  }
  &-jc-sb {
    justify-content: space-between;
  }
  &-jc-se {
    justify-content: space-evenly;
  }
}

/* FLOAT */

.float {
  float: left;

  &-r {
    float: right;
  }
}

/* POSITIONING */
.position {
  position: absolute;

  &-r {
    position: relative;
  }
  &-f {
    position: fixed;
  }
}

/* TEXT-ALIGN */
.text-c {
  text-align: center;
}

/* HEIGHT */
.h-100 {
  height: 100%;
}
/* BOTTOM */
.bottom {
  bottom: 0;
}
/* TOP */
.top {
  top: 0;
}

/* BACKGROUND */
.bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* TRANSITIONS */
.transition {
  transition: all 0.7s ease-in-out;
}

.transition_slow {
  transition: all 2s ease-in-out;
}

body {
  max-width: 100vw;
  height: 100%;
  font-family: $main_font;
  font-stretch: ultra-expanded;
  background-color: $homepage_bk;
  overflow-x: hidden;
  cursor: default;
}
