/* ASIDE */
.aside_right {
  width: 50%;
  height: 80rem;
  background-color: $aside_right;
  right: 0;
  top: 0;
  z-index: -5;
  @include breakpoint-down("xsmall") {
    width: 70%;
  }
  &-slideshow {
    &_container {
      border: solid 1px yellow;
      width: 60%;
      height: 50%;
      margin-top: 10rem;
      @include breakpoint-down("large") {
        width: 80%;
      }
      @include breakpoint-down("xsmall") {
        width: 65%;
      }
      @include breakpoint-down("mobile") {
        width: 100%;
        margin-top: 7rem;
      }
      img {
        width: 100%;
      }
    }
  }
  /* CIRCLE AND ARROW */

  &-circle {
    width: 20rem;
    height: 20rem;
    border: solid 2px white;
    border-radius: 50%;
    left: -10%;
    top: 40%;
    @include breakpoint-down("xsmall") {
      width: 17rem;
      height: 17rem;
    }
    @include breakpoint-down("mobile") {
      top: 30%;
    }
  }
}

em.fa-arrow-down {
  color: white;
  margin: 0;
  font-size: 2rem;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}

/* HEADER LEFT SIDE */

.left_side {
  border: solid 1px blue;
  width: 50%;
  height: 40rem;
  top: 10rem;
  @include breakpoint-down("small") {
    height: 50rem;
  }
  @include breakpoint-down("xsmall") {
    width: 30%;
    height: 35rem;
  }

  &-h1 {
    border: solid 1px white;
    font-size: 10rem;
    font-weight: 500;
    color: $dark_font;
    text-transform: uppercase;
    @include breakpoint-down("large") {
      text-align: center;
    }
    @include breakpoint-down("small") {
      transform: rotate(-90deg);
      width: 50rem;
    }
    @include breakpoint-down("xsmall") {
      font-size: 8rem;
      width: 40rem;
    }
    @include breakpoint-down("mobile") {
      width: 50rem;
      font-size: 6rem;
      position: absolute;
      top: 10rem;
    }
  }

  &-info {
    border: solid 1px red;
    font-size: 1.5rem;
    color: $darker_font;
    @include breakpoint-down("small") {
      position: absolute;
      bottom: -1rem;
      width: 100%;
      left: 25rem;
      font-size: 1.8rem;
    }
    @include breakpoint-down("xsmall") {
      bottom: -16rem;
      width: 90vw;
      left: 2rem;
      font-size: 1.8rem;
    }
    @include breakpoint-down("mobile") {
      width: 100vw;
      left: 0;
      font-size: 2rem;
      letter-spacing: 2px;
    }
  }
}

/* BACHELOR */
.bachelor {
  border: solid 1px yellow;
  width: 80%;
  height: 30rem;
  top: 60rem;
  margin: auto;
  @include breakpoint-down("large") {
    width: 90%;
  }
  @include breakpoint-down("small") {
    flex-direction: column;
    align-items: center;
    height: 50rem;
  }
  &_left-side {
    border: solid 1px red;
    width: 50%;
    @include breakpoint-down("small") {
      width: 100%;
    }
    video {
      width: 100%;
    }
  }
  &_right-side {
    width: 50%;
    @include breakpoint-down("small") {
      width: 100%;
      flex-direction: column;
    }
    @include breakpoint-down("xsmall") {
      flex-direction: columna;
    }
    h1 {
      font-size: 6rem;
      color: $darker_font;
      padding: 1rem;
      @include breakpoint-down("small") {
        text-align: center;
      }
    }
    h2 {
      font-size: 3rem;
      color: $darker_font;
      padding: 1rem;
    }
    p {
      font-size: 1.5rem;
      padding: 1rem;
      @include breakpoint-down("large") {
        text-align: center;
      }
    }
    a.more_about-bachelor {
      font-size: 1.5rem;
      padding: 10px;
      border: solid 1px $darker_font;
      margin: 2rem;
      transition: 0.3s ease-in-out;
      @include breakpoint-down("small") {
        text-align: center;
        padding: 15px;
      }
      &:hover {
        border-radius: 5px;
        letter-spacing: 3px;
        border: solid 1px $aside_right;
        background-color: $aside_right;
        transition: 0.3s ease-in-out;
        @include breakpoint-down("small") {
          letter-spacing: 0px;
        }
      }
    }
  }
}

/* SEMESTER COLLECTION */
.semester_choice {
  margin: auto;
  width: 95%;
  height: 100rem;
  top: 70rem;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  @include breakpoint-down("xllarge") {
    top: 65rem;
  }
  @include breakpoint-down("small") {
    top: 75rem;
  }
  @include breakpoint-down("xsmall") {
    top: 70rem;
  }
  @include breakpoint-down("mobile") {
    height: 120rem;
  }
  .semester {
    border: solid 1px red;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin: 2rem 0rem;
    @include breakpoint-down("xsmall") {
      grid-template-columns: 1fr 1fr;
    }
    @include breakpoint-down("mobile") {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .year {
      border: solid 1px yellow;
      font-size: 10rem;
      font-weight: 600;
      color: $darker_font;
      margin: auto;
      @include breakpoint-down("medium") {
        font-size: 8rem;
      }
      @include breakpoint-down("xsmall") {
        display: none;
      }
    }
    .sem_info {
      border: solid 1px blue;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      @include breakpoint-down("mobile") {
        height: 20rem;
      }
      h1 {
        font-size: 4rem;
        @include breakpoint-down("medium") {
          font-size: 3rem;
        }
      }
      p {
        font-size: 1.5rem;
        padding: 0rem 3rem;
        @include breakpoint-down("medium") {
          font-size: 1.3rem;
        }
        @include breakpoint-down("mobile") {
        }
      }
    }
    .sem_img {
      border: solid 1px violet;
      overflow: hidden;
      @include breakpoint-down("mobile") {
        display: flex;
        justify-content: center;
      }
      img {
        max-width: 70%;
        @include breakpoint-down("mobile") {
          max-width: 80%;
        }
      }
    }
    a {
      font-size: 1.5rem;
      padding: 10px;
      border: solid 1px $darker_font;
      margin: 2rem;
      transition: 0.3s ease-in-out;
      &:hover {
        border-radius: 5px;
        letter-spacing: 3px;
        border: solid 1px $aside_right;
        background-color: $aside_right;
        transition: 0.3s ease-in-out;
        @include breakpoint-down("small") {
          letter-spacing: 0px;
        }
      }
    }
  }
}

/* ABOUT JENNY */
.jenny {
  border: solid 2px red;
  width: 100%;
  height: 50rem;
  top: 145rem;
  @include breakpoint-down("xllarge") {
    top: 120rem;
  }
  @include breakpoint-down("large") {
    top: 90rem;
    height: 40rem;
  }
  @include breakpoint-down("medium") {
    top: 80rem;
  }
  @include breakpoint-down("xsmall") {
    top: 95rem;
  }
  @include breakpoint-down("mobile") {
    top: 220rem;
  }
  &_portrait {
    border: solid 1px white;
    width: 40%;
    background-color: $color_bright_greyish_blue;
    img {
      max-width: 70%;
      @include breakpoint-down("small") {
        max-width: 100%;
      }
    }
  }
  &_circle {
    width: 20rem;
    height: 20rem;
    border: solid 2px white;
    border-radius: 50%;
    top: -5rem;
    left: 30%;
    @include breakpoint-down("mobile") {
      display: none;
    }
  }
  &_info {
    border: solid 1px yellow;
    width: 60%;
  }
}

/* LETS TALK */
h1.lets_talk {
  font-size: 10rem;
  letter-spacing: 3px;
  top: 160rem;
  width: 100%;
  text-align: center;
  @include breakpoint-down("xllarge") {
    top: 130rem;
  }
  @include breakpoint-down("large") {
    top: 100rem;
  }
  @include breakpoint-down("medium") {
    top: 90rem;
  }
  @include breakpoint-down("xsmall") {
    font-size: 8rem;
  }
  @include breakpoint-down("mobile") {
    top: 220rem;
    font-size: 5rem;
  }
}

/* CONTACT */
.contact {
  border: solid 1px yellow;
  height: 5rem;
  width: 80%;
  top: 165rem;
  margin: auto;
  @include breakpoint-down("xllarge") {
    top: 140rem;
  }
  @include breakpoint-down("large") {
    top: 110rem;
  }
  @include breakpoint-down("medium") {
    top: 95rem;
  }
  @include breakpoint-down("xsmall") {
    width: 100%;
  }
  @include breakpoint-down("mobile") {
    top: 225rem;
  }
  .social_media {
    border: solid 1px red;
    width: 100%;
    height: 100%;
    em {
      font-size: 3rem;
      margin: 2rem;
      @include breakpoint-down("medium") {
        font-size: 2.5rem;
      }

      @include breakpoint-down("mobile") {
        font-size: 3rem;
      }
    }
  }
  .btt {
    font-size: 3rem;
  }
}
