/* 2020 */

.twentytwenty {
  border: solid 1px violet;
  font-size: 20rem;
  color: $dark_font;
  @include breakpoint-down("small") {
    font-size: 10rem;
  }
  @include breakpoint-down("xsmall") {
    display: none;
  }
  &-wrap {
    width: auto;
    height: auto;
    right: 1rem;
    top: 2rem;
    z-index: 5;
  }
}

/* HEADER */
header.voice_over {
  border: solid 1px blue;
  width: 90%;
  height: 100%;
  top: 10rem;
  right: 5rem;
  z-index: -10;
  @include breakpoint-down("large") {
    height: 40rem;
  }
  @include breakpoint-down("xsmall") {
    right: 0;
  }
}

.voice_over {
  &-header {
    width: 80%;
    height: 30rem;
    @include breakpoint-down("xllarge") {
      width: 90%;
      left: 0;
    }
    &_text {
      font-size: 10rem;
      font-weight: 300;
      letter-spacing: 5px;
      color: $darker_font;
      @include breakpoint-down("xllarge") {
        font-size: 8rem;
      }
      @include breakpoint-down("large") {
        font-size: 5rem;
        font-weight: 400;
        color: $darker_font;
      }
      @include breakpoint-down("small") {
        font-size: 4rem;
      }
      @include breakpoint-down("xxsmall") {
        font-size: 3rem;
      }
      & span {
        font-weight: 400;
        @include breakpoint-down("large") {
          font-weight: 600;
          color: $dark_font;
          text-shadow: 2px 1px 0 #fff;
        }
      }
    }
    &-right {
      width: 20%;
      height: 60rem;
      right: 0;
      background-color: $color_bright_brownish;
    }
  }
}

/* GALLERY */

.gallery_wrapper {
  border: solid 1px blue;
  width: 80%;
  height: 50rem;
  margin: auto;
  top: 105rem;
  @include breakpoint-down("xllarge") {
    top: 90rem;
  }
  @include breakpoint-down("large") {
    top: 50rem;
    margin: 0 0 0 2rem;
  }
  @include breakpoint-down("small") {
    margin: auto;
  }
  @include breakpoint-down("xxsmall") {
    top: 45rem;
  }
}
.bigImg {
  width: 50%;
  height: 100%;
  @include breakpoint-down("large") {
    display: none;
  }
}
.smallImg {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 5px;
  @include breakpoint-down("large") {
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
  }
  @include breakpoint-down("xxsmall") {
    grid-template-columns: 1fr 1fr;
  }
}
img.small {
  cursor: pointer;
  width: 100%;
  &:hover {
    opacity: 0.7;
  }
}
img.bigImg_img {
  height: 100%;
}

/* END GALLERY */
.after_gallery {
  font-size: 2rem;
  top: 110rem;
  font-weight: 400;
}

/* REST */
.rest {
  border: solid 1px red;
  top: 120rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  img {
    max-width: 100%;
  }
}

.after_rest {
  font-size: 2rem;
  top: 130rem;
  font-weight: 400;
}

.video_wrapper {
  border: solid 1px yellow;
  width: 80%;
  margin: auto;
  top: 150rem;
  video {
    width: 50%;
    padding-bottom: 5rem;
  }
}

/* FOOTER */
footer.seventh_sem {
  border: solid 1px blue;
  width: 80%;
  margin: auto;
  top: 170rem;
  @include breakpoint-down("large") {
  }
  @include breakpoint-down("medium") {
  }
  @include breakpoint-down("xsmall") {
  }
  @include breakpoint-down("mobile") {
  }

  .social_media {
    width: 20%;
    em {
      font-size: 2rem;
    }
  }
  i {
    font-size: 3rem;
  }
}
