#thirdSemBk {
  background-color: $thirdS_light_greyish_red;
}

/* ASIDES */

.left {
  top: 10rem;
  margin: 0rem 3rem;
  width: 10rem;
  height: 150rem;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  z-index: -10;
  &_img {
    width: 100%;
  }
  @include breakpoint-down("xsmall") {
    display: none;
  }
}

.right {
  right: 0;
  margin: 0rem 3rem;
  top: 10rem;
  width: 10rem;
  height: 120rem;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  &_img {
    width: 100%;
  }
  @include breakpoint-down("small") {
    display: none;
  }
}

/* HEADER */

.thirdSem {
  width: 70%;
  height: 100%;
  top: 10rem;
  left: 15rem;
  z-index: -10;
  @include breakpoint-down("small") {
    height: 40rem;
    width: 80%;
    left: 10rem;
  }
  @include breakpoint-down("xsmall") {
    left: 0;
    width: 100%;
  }
  &_img {
    width: 30rem;
    background-image: url("../05_images/03_Semester/4.JPG");
    animation: imgHeight ease-in-out forwards 3s;
    @include breakpoint-down("medium") {
      width: 100%;
      margin-top: 6rem;
    }
    @include breakpoint-down("small") {
      animation: none;
      height: 100%;
      width: 50%;
    }
    @include breakpoint-down("xsmall") {
      width: 100%;
      margin-top: 20rem;
    }
  }
  &_h1 {
    top: 0;
    right: 0;
    @include breakpoint-down("xllarge") {
      width: 50%;
      right: 0;
    }
    @include breakpoint-down("medium") {
      width: 100%;
      top: -3rem;
    }
    @include breakpoint-down("small") {
      width: 50%;
      right: 0;
    }
    @include breakpoint-down("xsmall") {
      width: 100%;
    }
    &_text {
      font-size: 7rem;
      color: $thirdS_brown;
      text-shadow: 5px 5px 2px $thirdS_light_greyish_orange;
      margin-top: 5rem;
      @include breakpoint-down("xllarge") {
        font-size: 6rem;
      }
      @include breakpoint-down("medium") {
        font-size: 5rem;
      }
      @include breakpoint-down("small") {
        font-size: 4rem;
      }
    }
  }
}
/* KARLSRUHE */

.karlsruhe {
  width: 60%;
  height: 30rem;
  bottom: -80rem;
  left: 20rem;
  @include breakpoint-down("medium") {
    left: 15rem;
  }
  @include breakpoint-down("small") {
    bottom: -60rem;
    width: 80%;
    left: 10rem;
  }
  @include breakpoint-down("xsmall") {
    left: 0;
    width: 100%;
    bottom: -70rem;
  }
  &_img {
    background-image: url("../05_images/03_Semester/00.jpg");
    width: 20rem;
    height: 100%;
    @include breakpoint-down("xsmall") {
      width: 50%;
    }
    @include breakpoint-down("xsmall") {
      width: 40%;
    }
  }
  &_info {
    width: 50%;
    & h1 {
      font-size: 3rem;
    }
    & p {
      font-size: 1.5rem;
    }
  }
}
/* EXHIBITION */
.exhibition {
  border: solid 1px blue;
  top: 100rem;
  width: 70%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  img {
    max-width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    &:nth-child(2) {
      grid-column: 3;
      grid-row: 2;
    }
    &:nth-child(3) {
      grid-column: 1;
      grid-row: 3;
    }
    &:nth-child(4) {
      grid-column: 3;
      grid-row: 4;
    }
    &:nth-child(5) {
      grid-column: 1;
      grid-row: 5;
    }
  }
  &_info {
    grid-column: 3;
    grid-row: 6;
    p {
      font-size: 2rem;
    }
  }
}

/* FOOTER */
footer.third_sem {
  border: solid 1px blue;
  width: 80%;
  margin: auto;
  top: 110rem;
  @include breakpoint-down("large") {
    top: 210rem;
  }
  @include breakpoint-down("medium") {
    top: 180rem;
  }
  @include breakpoint-down("xsmall") {
    top: 250rem;
  }
  @include breakpoint-down("mobile") {
    top: 260rem;
  }

  .social_media {
    width: 20%;
    em {
      font-size: 2rem;
    }
  }
  i {
    font-size: 3rem;
  }
}
