/* Color_Palette */

$homepage_bk: #d5c1ba;
$dark_font: #525a66;
$darker_font: #383e46;
$aside_right: #c0b0b0;
$icons: #56595e;

/* ACCENT */
/* Hell */
$color_bright: #ebd8d1;
$color_bright_brownish: #d9cbcb;
$color_bright_greyish_blue: #cdcad8;
$color_bright_greyish_green: #bac2cc;
$color_bright_grey: #afaebc;
$color_bright_green: #88a192;

/* Normal */
$color_grey: #93929e;
$color_greyish_blue: #7a7987;

/* Darker */
$color_brownish_red: #ae968e;
$color_darker_brown: #9b8b8b;
$color_darker_greyish_blue: #8b8994;
$color_darker_greyish_green: #6d747e;
$color_darker_grey: #575664;
$color_darker_green: #3b4a41;

/* FIRST SEMESTER */
$firstS_dark_red: #620101;
$firstS_midDark_red: #870b08;
$firstS_greyish_red: #ce8e8d;
$firstS_light_greyish_red: #f3e3e1;

/* SECOND SEMESTER */
$secondS_green: #96c0b7c0;
$secondS_mint: #79e2cbc0;

/* Third SEMESTER */
$thirdS_senf: #d9b500;
$thirdS_brown: #8c6003;
$thirdS_greyish_blue: #1b334a;
$thirdS_light_greyish_red: #d1c7c5;
$thirdS_light_greyish_orange: #c8bbb2;
$thirdS_darker_greyish_orange: #948e89;

/* Fourth SEMESTER */
$fourthS_creme: #f6f3ef;
$fourthS_darker_creme: #f7efe9;
$fourthS_brownish_orange: #cc9b7a;
$fourthS_darker_brownish_orange: #a5765c;
$fourthS_olive: #b6ae8f;
$fourthS_darker_olive: #6f7461;
$fourthS_dark_green: #454c38;
$fourthS_grey: #7c7d82;
$fourthS_dark: #473c20;
/* Font */
$main_font: "Bebas Neue Pro";
$main_font_exp: "Bebas Neue Pro Expanded";
$main_font_Semiexp: "Bebas Neue Pro SemiExp";
$bold: 600;
$middle: 400;
$light: 200;
