/* Color_Palette */
/* ACCENT */
/* Hell */
/* Normal */
/* Darker */
/* FIRST SEMESTER */
/* SECOND SEMESTER */
/* Third SEMESTER */
/* Fourth SEMESTER */
/* Font */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css");
/*  SMALL RESET */
* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* DISPLAY: FLEX */
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-ai-s {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-jc-fe {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex-jc-fs {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flex-fd-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-se {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

/* FLOAT */
.float {
  float: left;
}

.float-r {
  float: right;
}

/* POSITIONING */
.position {
  position: absolute;
}

.position-r {
  position: relative;
}

.position-f {
  position: fixed;
}

/* TEXT-ALIGN */
.text-c {
  text-align: center;
}

/* HEIGHT */
.h-100 {
  height: 100%;
}

/* BOTTOM */
.bottom {
  bottom: 0;
}

/* TOP */
.top {
  top: 0;
}

/* BACKGROUND */
.bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* TRANSITIONS */
.transition {
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.transition_slow {
  -webkit-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

body {
  max-width: 100vw;
  height: 100%;
  font-family: "Bebas Neue Pro";
  font-stretch: ultra-expanded;
  background-color: #d5c1ba;
  overflow-x: hidden;
  cursor: default;
  scroll-behavior: smooth;
  /*   @include breakpoint-down("xllarge") {
    background-color: rgba(255, 0, 55, 0.644);
  }
  @include breakpoint-down("large") {
    background-color: rgb(123, 255, 0);
  }
  @include breakpoint-down("medium") {
    background-color: rgb(11, 177, 122);
  }
  @include breakpoint-down("small") {
    background-color: rgb(223, 126, 186);
  }
  @include breakpoint-down("xsmall") {
    background-color: rgb(197, 207, 243);
  }
  @include breakpoint-down("xxsmall") {
    background-color: rgb(201, 243, 197);
  }
  @include breakpoint-down("mobile") {
    background-color: rgb(230, 197, 243);
  } */
}

a {
  text-decoration: none;
  padding: 10px;
  font-size: 1.2rem;
  font-stretch: ultra-expanded;
  color: #383e46;
}

a.jenny_nguyen_logo {
  border: solid 1px yellow;
  font-weight: 800;
  letter-spacing: 10px;
  color: #383e46;
}

a.jenny_nguyen_logo:hover {
  font-weight: 600;
}

/* NAVIGATION */
nav {
  border: solid 1px yellow;
  width: 90%;
  height: 5rem;
  margin: 2rem 0 0 2rem;
}

@media screen and (max-width: 500px) {
  nav {
    position: relative;
    height: auto;
  }
}

nav .nav_left {
  border: solid 1px blue;
  height: 5rem;
}

@media screen and (max-width: 500px) {
  nav .nav_left {
    display: none;
  }
}

nav .nav_left-dropdown-btn {
  border: solid 1px green;
  cursor: pointer;
  font-size: 1.5rem;
  color: #383e46;
  font-weight: 600;
  letter-spacing: 5px;
  /*   border: none; */
  background-color: #d5c1ba;
}

nav .nav_left-dropdown_items {
  opacity: 1;
  margin-top: 1rem;
}

@media screen and (max-width: 74.9375em) {
  nav .nav_left-dropdown_items {
    display: none;
  }
}

nav .nav_right {
  width: 20%;
  height: 100%;
}

@media screen and (max-width: 74.9375em) {
  nav .nav_right {
    width: 50%;
  }
}

/* SMALL NAVIGATION */
.small_nav {
  border: solid 1px black;
  background-color: #d5c1ba;
  z-index: 1000;
  width: 80vw;
  height: 60vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin-left: -60rem;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

@media screen and (min-width: 74.9375em) {
  .small_nav {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .small_nav {
    display: none;
  }
}

.small_nav .small_sem {
  border: solid 1px red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.small_nav .small_sem h1 {
  color: #fff;
  font-size: 3rem;
}

.small_nav .small_sem img {
  width: 20%;
}

.small_nav i.click {
  font-size: 2rem;
  right: 0;
  cursor: pointer;
}

/* MOBILE NAV */
i.fa-caret-down {
  position: absolute;
  font-size: 3rem;
  top: 0;
  right: 0;
}

@media screen and (min-width: 500px) {
  i.fa-caret-down {
    display: none;
  }
}

i.fa-caret-up {
  position: absolute;
  font-size: 3rem;
  top: 0;
  right: 0;
}

.mobile_nav {
  width: 100vw;
  height: 75vh;
  background-color: #222;
  margin-top: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  gap: 2px;
}

@media screen and (min-width: 500px) {
  .mobile_nav {
    display: none;
  }
}

.mobile_nav .mobile_nav_wrap {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile_nav img {
  max-width: 100%;
  opacity: 0.5;
}

.mobile_nav h1 {
  color: #fff;
  position: absolute;
  z-index: 100;
}

@-webkit-keyframes slide {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(500px);
            transform: translateX(500px);
  }
}

@keyframes slide {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(500px);
            transform: translateX(500px);
  }
}

@-webkit-keyframes oppacity {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes oppacity {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes oppacity_fromZero {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes oppacity_fromZero {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes widthDiv {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes widthDiv {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@-webkit-keyframes topToBottom {
  from {
    margin-top: -5rem;
  }
  to {
    margin-top: 0;
  }
}

@keyframes topToBottom {
  from {
    margin-top: -5rem;
  }
  to {
    margin-top: 0;
  }
}

@-webkit-keyframes fromLeft {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}

@keyframes fromLeft {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}

@-webkit-keyframes toRight {
  from {
    right: 100%;
  }
  to {
    right: 0;
  }
}

@keyframes toRight {
  from {
    right: 100%;
  }
  to {
    right: 0;
  }
}

@-webkit-keyframes imgHeight {
  from {
    height: 0;
  }
  to {
    height: 60rem;
  }
}

@keyframes imgHeight {
  from {
    height: 0;
  }
  to {
    height: 60rem;
  }
}

/* ASIDE */
.aside_right {
  width: 50%;
  height: 80rem;
  background-color: #c0b0b0;
  right: 0;
  top: 0;
  z-index: -5;
  /* CIRCLE AND ARROW */
}

@media screen and (max-width: 55rem) {
  .aside_right {
    width: 70%;
  }
}

.aside_right-slideshow_container {
  border: solid 1px yellow;
  width: 60%;
  height: 50%;
  margin-top: 10rem;
}

@media screen and (max-width: 91.43755em) {
  .aside_right-slideshow_container {
    width: 80%;
  }
}

@media screen and (max-width: 55rem) {
  .aside_right-slideshow_container {
    width: 65%;
  }
}

@media screen and (max-width: 500px) {
  .aside_right-slideshow_container {
    width: 100%;
    margin-top: 7rem;
  }
}

.aside_right-slideshow_container img {
  width: 100%;
}

.aside_right-circle {
  width: 20rem;
  height: 20rem;
  border: solid 2px white;
  border-radius: 50%;
  left: -10%;
  top: 40%;
}

@media screen and (max-width: 55rem) {
  .aside_right-circle {
    width: 17rem;
    height: 17rem;
  }
}

@media screen and (max-width: 500px) {
  .aside_right-circle {
    top: 30%;
  }
}

em.fa-arrow-down {
  color: white;
  margin: 0;
  font-size: 2rem;
  position: absolute;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

/* HEADER LEFT SIDE */
.left_side {
  border: solid 1px blue;
  width: 50%;
  height: 40rem;
  top: 10rem;
}

@media screen and (max-width: 65.9375em) {
  .left_side {
    height: 50rem;
  }
}

@media screen and (max-width: 55rem) {
  .left_side {
    width: 30%;
    height: 35rem;
  }
}

.left_side-h1 {
  border: solid 1px white;
  font-size: 10rem;
  font-weight: 500;
  color: #525a66;
  text-transform: uppercase;
}

@media screen and (max-width: 91.43755em) {
  .left_side-h1 {
    text-align: center;
  }
}

@media screen and (max-width: 65.9375em) {
  .left_side-h1 {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    width: 50rem;
  }
}

@media screen and (max-width: 55rem) {
  .left_side-h1 {
    font-size: 8rem;
    width: 40rem;
  }
}

@media screen and (max-width: 500px) {
  .left_side-h1 {
    width: 50rem;
    font-size: 6rem;
    position: absolute;
    top: 10rem;
  }
}

.left_side-info {
  border: solid 1px red;
  font-size: 1.5rem;
  color: #383e46;
}

@media screen and (max-width: 65.9375em) {
  .left_side-info {
    position: absolute;
    bottom: -1rem;
    width: 100%;
    left: 25rem;
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 55rem) {
  .left_side-info {
    bottom: -16rem;
    width: 90vw;
    left: 2rem;
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 500px) {
  .left_side-info {
    width: 100vw;
    left: 0;
    font-size: 2rem;
    letter-spacing: 2px;
  }
}

/* BACHELOR */
.bachelor {
  border: solid 1px yellow;
  width: 80%;
  height: 30rem;
  top: 60rem;
  margin: auto;
}

@media screen and (max-width: 91.43755em) {
  .bachelor {
    width: 90%;
  }
}

@media screen and (max-width: 65.9375em) {
  .bachelor {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50rem;
  }
}

.bachelor_left-side {
  border: solid 1px red;
  width: 50%;
}

@media screen and (max-width: 65.9375em) {
  .bachelor_left-side {
    width: 100%;
  }
}

.bachelor_left-side video {
  width: 100%;
}

.bachelor_right-side {
  width: 50%;
}

@media screen and (max-width: 65.9375em) {
  .bachelor_right-side {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 55rem) {
  .bachelor_right-side {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: columna;
            flex-direction: columna;
  }
}

.bachelor_right-side h1 {
  font-size: 6rem;
  color: #383e46;
  padding: 1rem;
}

@media screen and (max-width: 65.9375em) {
  .bachelor_right-side h1 {
    text-align: center;
  }
}

.bachelor_right-side h2 {
  font-size: 3rem;
  color: #383e46;
  padding: 1rem;
}

.bachelor_right-side p {
  font-size: 1.5rem;
  padding: 1rem;
}

@media screen and (max-width: 91.43755em) {
  .bachelor_right-side p {
    text-align: center;
  }
}

.bachelor_right-side a.more_about-bachelor {
  font-size: 1.5rem;
  padding: 10px;
  border: solid 1px #383e46;
  margin: 2rem;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

@media screen and (max-width: 65.9375em) {
  .bachelor_right-side a.more_about-bachelor {
    text-align: center;
    padding: 15px;
  }
}

.bachelor_right-side a.more_about-bachelor:hover {
  border-radius: 5px;
  letter-spacing: 3px;
  border: solid 1px #c0b0b0;
  background-color: #c0b0b0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

@media screen and (max-width: 65.9375em) {
  .bachelor_right-side a.more_about-bachelor:hover {
    letter-spacing: 0px;
  }
}

/* SEMESTER COLLECTION */
.semester_choice {
  margin: auto;
  width: 95%;
  height: 100rem;
  top: 70rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
}

@media screen and (max-width: 100em) {
  .semester_choice {
    top: 65rem;
  }
}

@media screen and (max-width: 65.9375em) {
  .semester_choice {
    top: 75rem;
  }
}

@media screen and (max-width: 55rem) {
  .semester_choice {
    top: 70rem;
  }
}

@media screen and (max-width: 500px) {
  .semester_choice {
    height: 120rem;
  }
}

.semester_choice .semester {
  border: solid 1px red;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  margin: 2rem 0rem;
}

@media screen and (max-width: 55rem) {
  .semester_choice .semester {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 500px) {
  .semester_choice .semester {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.semester_choice .semester .year {
  border: solid 1px yellow;
  font-size: 10rem;
  font-weight: 600;
  color: #383e46;
  margin: auto;
}

@media screen and (max-width: 74.9375em) {
  .semester_choice .semester .year {
    font-size: 8rem;
  }
}

@media screen and (max-width: 55rem) {
  .semester_choice .semester .year {
    display: none;
  }
}

.semester_choice .semester .sem_info {
  border: solid 1px blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 500px) {
  .semester_choice .semester .sem_info {
    height: 20rem;
  }
}

.semester_choice .semester .sem_info h1 {
  font-size: 4rem;
}

@media screen and (max-width: 74.9375em) {
  .semester_choice .semester .sem_info h1 {
    font-size: 3rem;
  }
}

.semester_choice .semester .sem_info p {
  font-size: 1.5rem;
  padding: 0rem 3rem;
}

@media screen and (max-width: 74.9375em) {
  .semester_choice .semester .sem_info p {
    font-size: 1.3rem;
  }
}

.semester_choice .semester .sem_img {
  border: solid 1px violet;
  overflow: hidden;
}

@media screen and (max-width: 500px) {
  .semester_choice .semester .sem_img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.semester_choice .semester .sem_img img {
  max-width: 70%;
}

@media screen and (max-width: 500px) {
  .semester_choice .semester .sem_img img {
    max-width: 80%;
  }
}

.semester_choice .semester a {
  font-size: 1.5rem;
  padding: 10px;
  border: solid 1px #383e46;
  margin: 2rem;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.semester_choice .semester a:hover {
  border-radius: 5px;
  letter-spacing: 3px;
  border: solid 1px #c0b0b0;
  background-color: #c0b0b0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

@media screen and (max-width: 65.9375em) {
  .semester_choice .semester a:hover {
    letter-spacing: 0px;
  }
}

/* ABOUT JENNY */
.jenny {
  border: solid 2px red;
  width: 100%;
  height: 50rem;
  top: 145rem;
}

@media screen and (max-width: 100em) {
  .jenny {
    top: 120rem;
  }
}

@media screen and (max-width: 91.43755em) {
  .jenny {
    top: 90rem;
    height: 40rem;
  }
}

@media screen and (max-width: 74.9375em) {
  .jenny {
    top: 80rem;
  }
}

@media screen and (max-width: 55rem) {
  .jenny {
    top: 95rem;
  }
}

@media screen and (max-width: 500px) {
  .jenny {
    top: 220rem;
  }
}

.jenny_portrait {
  border: solid 1px white;
  width: 40%;
  background-color: #cdcad8;
}

.jenny_portrait img {
  max-width: 70%;
}

@media screen and (max-width: 65.9375em) {
  .jenny_portrait img {
    max-width: 100%;
  }
}

.jenny_circle {
  width: 20rem;
  height: 20rem;
  border: solid 2px white;
  border-radius: 50%;
  top: -5rem;
  left: 30%;
}

@media screen and (max-width: 500px) {
  .jenny_circle {
    display: none;
  }
}

.jenny_info {
  border: solid 1px yellow;
  width: 60%;
}

/* LETS TALK */
h1.lets_talk {
  font-size: 10rem;
  letter-spacing: 3px;
  top: 160rem;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 100em) {
  h1.lets_talk {
    top: 130rem;
  }
}

@media screen and (max-width: 91.43755em) {
  h1.lets_talk {
    top: 100rem;
  }
}

@media screen and (max-width: 74.9375em) {
  h1.lets_talk {
    top: 90rem;
  }
}

@media screen and (max-width: 55rem) {
  h1.lets_talk {
    font-size: 8rem;
  }
}

@media screen and (max-width: 500px) {
  h1.lets_talk {
    top: 220rem;
    font-size: 5rem;
  }
}

/* CONTACT */
.contact {
  border: solid 1px yellow;
  height: 5rem;
  width: 80%;
  top: 165rem;
  margin: auto;
}

@media screen and (max-width: 100em) {
  .contact {
    top: 140rem;
  }
}

@media screen and (max-width: 91.43755em) {
  .contact {
    top: 110rem;
  }
}

@media screen and (max-width: 74.9375em) {
  .contact {
    top: 95rem;
  }
}

@media screen and (max-width: 55rem) {
  .contact {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .contact {
    top: 225rem;
  }
}

.contact .social_media {
  border: solid 1px red;
  width: 100%;
  height: 100%;
}

.contact .social_media em {
  font-size: 3rem;
  margin: 2rem;
}

@media screen and (max-width: 74.9375em) {
  .contact .social_media em {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 500px) {
  .contact .social_media em {
    font-size: 3rem;
  }
}

.contact .btt {
  font-size: 3rem;
}

/* HEADER */
.martyr {
  border: solid 1px blue;
  width: 90%;
  height: 80vh;
  top: 0rem;
  margin-left: 5rem;
}

@media screen and (max-width: 74.9375em) {
  .martyr {
    height: 60vh;
  }
}

@media screen and (max-width: 65.9375em) {
  .martyr {
    margin: auto;
  }
}

@media screen and (max-width: 55rem) {
  .martyr {
    height: 100vh;
  }
}

@media screen and (max-width: 500px) {
  .martyr {
    top: 1.5rem;
    height: 80vh;
  }
}

.martyr-heading {
  border: solid 1px yellow;
  width: 100%;
  height: auto;
  top: 40%;
}

@media screen and (max-width: 65.9375em) {
  .martyr-heading {
    display: block;
    top: 2rem;
  }
}

@media screen and (max-width: 55rem) {
  .martyr-heading {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.martyr-heading-wrapper_first {
  width: 100%;
  height: 4rem;
  background-color: #620101;
  -webkit-animation: widthDiv 3s;
          animation: widthDiv 3s;
}

@media screen and (max-width: 65.9375em) {
  .martyr-heading-wrapper_first {
    -webkit-animation: none;
            animation: none;
    top: 0;
  }
}

@media screen and (max-width: 55rem) {
  .martyr-heading-wrapper_first {
    background-color: rgba(255, 255, 255, 0);
  }
}

.martyr-heading-wrapper_second {
  height: 4rem;
  width: 100%;
  z-index: -5;
  -webkit-animation: topToBottom 4s;
          animation: topToBottom 4s;
}

@media screen and (max-width: 65.9375em) {
  .martyr-heading-wrapper_second {
    -webkit-animation: none;
            animation: none;
    top: 0;
  }
}

@media screen and (max-width: 500px) {
  .martyr-heading-wrapper_second {
    margin-top: 4rem;
  }
}

.martyr-heading-h1_first, .martyr-heading-h1_second {
  color: white;
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
}

@media screen and (max-width: 65.9375em) {
  .martyr-heading-h1_first, .martyr-heading-h1_second {
    font-size: 3rem;
  }
}

@media screen and (max-width: 55rem) {
  .martyr-heading-h1_first, .martyr-heading-h1_second {
    font-size: 5rem;
    text-align: center;
  }
}

.martyr-heading-h1_first {
  -webkit-animation: oppacity_fromZero ease-in 3s;
          animation: oppacity_fromZero ease-in 3s;
}

@media screen and (max-width: 65.9375em) {
  .martyr-heading-h1_first {
    -webkit-animation: none;
            animation: none;
  }
}

.martyr-heading-h1_second {
  -webkit-animation: oppacity_fromZero ease-in 3s;
          animation: oppacity_fromZero ease-in 3s;
  color: #620101;
}

@media screen and (max-width: 65.9375em) {
  .martyr-heading-h1_second {
    -webkit-animation: none;
            animation: none;
  }
}

@media screen and (max-width: 55rem) {
  .martyr-heading-h1_second {
    color: #fff;
  }
}

/*VIDEO */
.video_wrapper-first {
  width: 100%;
  height: 5rem;
  top: 5rem;
  overflow: hidden;
  -webkit-animation: toRight ease 3s;
          animation: toRight ease 3s;
}

.video_wrapper-first video {
  width: 100%;
}

@media screen and (max-width: 65.9375em) {
  .video_wrapper-first {
    display: none;
  }
}

.video_wrapper-second {
  width: 100%;
  height: 5rem;
  overflow: hidden;
  bottom: 0;
  -webkit-animation: fromLeft ease 3s;
          animation: fromLeft ease 3s;
}

.video_wrapper-second video {
  width: 100%;
}

@media screen and (max-width: 55rem) {
  .video_wrapper-second video {
    height: 100%;
    width: auto;
  }
}

@media screen and (max-width: 65.9375em) {
  .video_wrapper-second {
    -webkit-animation: none;
            animation: none;
    height: 30rem;
    top: 12rem;
  }
}

@media screen and (max-width: 55rem) {
  .video_wrapper-second {
    opacity: 0.5;
    z-index: -99;
    top: 0;
    height: 100%;
  }
}

/* AFTER HEADER */
.after_header {
  font-size: 2rem;
  font-weight: 500;
  margin: 5rem 0rem;
}

@media screen and (max-width: 74.9375em) {
  .after_header {
    width: 80%;
    margin: auto;
    padding: 5rem 0rem;
  }
}

@media screen and (max-width: 65.9375em) {
  .after_header {
    padding: 12rem 0rem;
  }
}

/* GALLERY */
.gallery_first {
  border: solid 1px yellow;
  width: 80%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

@media screen and (max-width: 74.9375em) {
  .gallery_first {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.gallery_first img {
  max-width: 100%;
}

.after_gallery_first {
  font-size: 2rem;
  margin: 5rem 0rem;
}

@media screen and (max-width: 74.9375em) {
  .after_gallery_first {
    width: 80%;
    margin: auto;
    padding: 5rem 0rem;
  }
}

/* FOOTER */
footer.first_sem {
  border: solid 1px blue;
  width: 80%;
  margin: auto;
}

footer.first_sem .social_media {
  width: 20%;
}

footer.first_sem .social_media em {
  font-size: 2rem;
}

footer.first_sem i {
  font-size: 3rem;
}

#secondSemBk {
  background-color: #b7c3d1;
}

/* HEADER GRID */
.header_grid {
  border: solid 1px blue;
  height: 100vh;
  width: auto;
  margin: 10rem 5rem 5rem 5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[9];
      grid-template-columns: repeat(9, 1fr);
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
  gap: 10px;
  top: 0;
}

.header_grid img {
  max-width: 100%;
}

@media screen and (max-width: 55rem) {
  .header_grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
    height: 130rem;
  }
}

@media screen and (max-width: 500px) {
  .header_grid {
    width: 100vw;
    margin: 0;
    top: 5.5rem;
  }
}

.header_grid-info {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/ 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/ 2;
}

@media screen and (max-width: 91.43755em) {
  .header_grid-info {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
}

@media screen and (max-width: 74.9375em) {
  .header_grid-info {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1/6;
  }
}

@media screen and (max-width: 55rem) {
  .header_grid-info {
    width: 90%;
    background-color: rgba(255, 255, 255, 0.24);
    height: auto;
  }
}

@media screen and (max-width: 500px) {
  .header_grid-info {
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
  }
}

.header_grid-info_p {
  font-size: 1.5rem;
}

@media screen and (max-width: 55rem) {
  .header_grid-info_p {
    font-size: 2rem;
    margin-top: 25rem;
    font-weight: 400;
  }
}

@media screen and (max-width: 500px) {
  .header_grid-info_p {
    margin-top: 0;
  }
}

.header_grid-info_heading {
  border: solid 1px yellow;
  text-transform: uppercase;
  font-size: 2.5rem;
}

@media screen and (max-width: 55rem) {
  .header_grid-info_heading {
    font-size: 5rem;
  }
}

@media screen and (max-width: 500px) {
  .header_grid-info_heading {
    letter-spacing: 4px;
    height: 70vh;
    margin: 3rem 0rem;
    line-height: 10rem;
  }
}

.header_grid-img_one {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2/5;
  -webkit-animation: topToBottom ease 4s;
          animation: topToBottom ease 4s;
}

@media screen and (max-width: 91.43755em) {
  .header_grid-img_one {
    -webkit-animation: none;
            animation: none;
    background-size: contain;
  }
}

@media screen and (max-width: 74.9375em) {
  .header_grid-img_one {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    -ms-grid-row: 2;
    -ms-grid-row-span: 4;
    grid-row: 2/6;
    background-size: cover;
  }
}

@media screen and (max-width: 55rem) {
  .header_grid-img_one {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 6;
    grid-row: 1/7;
    opacity: 0.6;
    z-index: -10;
    background-position: right;
  }
}

@media screen and (max-width: 55rem) {
  .header_grid-img_one {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1/6;
  }
}

.header_grid-img_two {
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-column: 4/7;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  -webkit-animation: topToBottom ease 4s;
          animation: topToBottom ease 4s;
}

@media screen and (max-width: 91.43755em) {
  .header_grid-img_two {
    -webkit-animation: none;
            animation: none;
    background-size: contain;
    -ms-grid-column: 4;
    -ms-grid-column-span: 4;
    grid-column: 4/8;
  }
}

@media screen and (max-width: 74.9375em) {
  .header_grid-img_two {
    -ms-grid-column: 6;
    -ms-grid-column-span: 4;
    grid-column: 6/10;
    -ms-grid-row: 1;
    -ms-grid-row-span: 4;
    grid-row: 1/5;
    background-size: cover;
  }
}

@media screen and (max-width: 55rem) {
  .header_grid-img_two {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 7;
    -ms-grid-row-span: 3;
    grid-row: 7/10;
  }
}

@media screen and (max-width: 500px) {
  .header_grid-img_two {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
}

.header_grid-img_three {
  -ms-grid-column: 8;
  -ms-grid-column-span: 2;
  grid-column: 8/10;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2/5;
  -webkit-animation: topToBottom ease 4s;
          animation: topToBottom ease 4s;
}

@media screen and (max-width: 91.43755em) {
  .header_grid-img_three {
    -webkit-animation: none;
            animation: none;
    background-size: contain;
  }
}

@media screen and (max-width: 74.9375em) {
  .header_grid-img_three {
    -ms-grid-column: 8;
    -ms-grid-column-span: 2;
    grid-column: 8/10;
    -ms-grid-row: 4;
    -ms-grid-row-span: 5;
    grid-row: 4/9;
    background-size: cover;
  }
}

@media screen and (max-width: 55rem) {
  .header_grid-img_three {
    display: none;
  }
}

/* SECTION MIDDLE */
h6 {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 5px;
  color: white;
}

h6.line_one,
h6.line_three {
  -webkit-animation: oppacity 2s infinite ease-in-out alternate;
          animation: oppacity 2s infinite ease-in-out alternate;
}

h6.line_two {
  animation: oppacity 3s infinite ease-in-out alternate reverse;
}

.middle {
  width: 90%;
  margin: 5rem;
  bottom: -60rem;
}

.middle img {
  max-width: 100%;
}

@media screen and (max-width: 91.43755em) {
  .middle {
    bottom: -50rem;
  }
}

@media screen and (max-width: 500px) {
  .middle {
    margin: 0;
  }
}

.middle-words_div {
  width: 100%;
  height: 20rem;
}

@media screen and (max-width: 55rem) {
  .middle-words_div {
    display: none;
  }
}

.middle-words_div-line {
  width: 100%;
  height: 5rem;
  margin: 5rem 0;
  z-index: -5;
}

.middle-image-grid {
  border: solid 1px #00ff55;
  width: 100%;
  bottom: -100rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
}

@media screen and (max-width: 74.9375em) {
  .middle-image-grid {
    height: 50rem;
    bottom: -30rem;
  }
}

@media screen and (max-width: 55rem) {
  .middle-image-grid {
    display: block;
    top: 10rem;
  }
}

@media screen and (max-width: 500px) {
  .middle-image-grid {
    top: 20rem;
    width: 100vw;
  }
}

.middle-image_wrap-one, .middle-image_wrap-two, .middle-image_wrap-three {
  width: 20rem;
  height: 100%;
}

.middle-image_wrap-one {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 /3;
}

@media screen and (max-width: 74.9375em) {
  .middle-image_wrap-one {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
  }
}

.middle-image_wrap-two {
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 1;
  grid-row: 1;
}

@media screen and (max-width: 74.9375em) {
  .middle-image_wrap-two {
    -ms-grid-column: 5;
    grid-column: 5;
  }
}

.middle-image_wrap-three {
  -ms-grid-column: 5;
  grid-column: 5;
  -ms-grid-row: 4;
  grid-row: 4;
}

@media screen and (max-width: 74.9375em) {
  .middle-image_wrap-three {
    -ms-grid-column: 4;
    -ms-grid-column-span: 2;
    grid-column: 4/6;
  }
}

.end_text {
  border: solid 1px violet;
  width: 80vw;
  left: 0;
  margin: 4rem;
}

@media screen and (max-width: 74.9375em) {
  .end_text {
    text-align: center;
    width: 90vw;
    left: -6rem;
  }
}

@media screen and (max-width: 55rem) {
  .end_text {
    left: -8rem;
  }
}

@media screen and (max-width: 500px) {
  .end_text {
    width: 100vw;
    margin: auto;
    left: 0;
  }
}

.end_text-p {
  font-size: 1.7rem;
}

/* FOOTER */
footer.second_sem {
  border: solid 1px blue;
  width: 80%;
  margin: auto;
  top: 230rem;
}

@media screen and (max-width: 91.43755em) {
  footer.second_sem {
    top: 210rem;
  }
}

@media screen and (max-width: 74.9375em) {
  footer.second_sem {
    top: 180rem;
  }
}

@media screen and (max-width: 55rem) {
  footer.second_sem {
    top: 250rem;
  }
}

@media screen and (max-width: 500px) {
  footer.second_sem {
    top: 255rem;
  }
}

footer.second_sem .social_media {
  width: 20%;
}

footer.second_sem .social_media em {
  font-size: 2rem;
}

footer.second_sem i {
  font-size: 3rem;
}
/*# sourceMappingURL=style.css.map */