/* Color_Palette */
/* ACCENT */
/* Hell */
/* Normal */
/* Darker */
/* FIRST SEMESTER */
/* SECOND SEMESTER */
/* Third SEMESTER */
/* Fourth SEMESTER */
/* Font */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css");
/*  SMALL RESET */
* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* DISPLAY: FLEX */
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-ai-s {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-jc-fe {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex-jc-fs {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flex-fd-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-se {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

/* FLOAT */
.float {
  float: left;
}

.float-r {
  float: right;
}

/* POSITIONING */
.position {
  position: absolute;
}

.position-r {
  position: relative;
}

.position-f {
  position: fixed;
}

/* TEXT-ALIGN */
.text-c {
  text-align: center;
}

/* HEIGHT */
.h-100 {
  height: 100%;
}

/* BOTTOM */
.bottom {
  bottom: 0;
}

/* TOP */
.top {
  top: 0;
}

/* BACKGROUND */
.bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* TRANSITIONS */
.transition {
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.transition_slow {
  -webkit-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

body {
  max-width: 100vw;
  height: 100%;
  font-family: "Bebas Neue Pro";
  font-stretch: ultra-expanded;
  background-color: #d5c1ba;
  overflow-x: hidden;
  cursor: default;
}

a {
  text-decoration: none;
  padding: 10px;
  font-size: 1.2rem;
  font-stretch: ultra-expanded;
  color: #383e46;
}

a.jenny_nguyen_logo {
  border: solid 1px yellow;
  font-weight: 800;
  letter-spacing: 10px;
  color: #383e46;
}

@media screen and (max-width: 40rem) {
  a.jenny_nguyen_logo {
    font-size: 1rem;
  }
}

a.jenny_nguyen_logo:hover {
  font-weight: 600;
}

a.semester_collections {
  border: solid 1px firebrick;
  color: #383e46;
  font-weight: 600;
  font-size: 1.1rem;
  margin-right: 1.5rem;
}

@media screen and (max-width: 100em) {
  a.semester_collections {
    margin-top: 1rem;
  }
}

a.semester_collections:hover {
  color: #000;
}

/* NAVIGATION */
nav {
  border: solid 1px yellow;
  width: 90%;
  height: 5rem;
  margin: 2rem 0 0 2rem;
}

nav .nav_left {
  height: 5rem;
}

nav .nav_left-dropdown-btn {
  border: solid 1px green;
  cursor: pointer;
  font-size: 1.5rem;
  color: #383e46;
  font-weight: 600;
  letter-spacing: 5px;
  /*   border: none; */
  background-color: #d5c1ba;
}

nav .nav_left-dropdown_items {
  opacity: 1;
  margin-top: 1rem;
}

nav .nav_right {
  width: 20%;
}

@-webkit-keyframes slide {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(500px);
            transform: translateX(500px);
  }
}

@keyframes slide {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(500px);
            transform: translateX(500px);
  }
}

@-webkit-keyframes oppacity {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes oppacity {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes oppacity_fromZero {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes oppacity_fromZero {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes widthDiv {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes widthDiv {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@-webkit-keyframes topToBottom {
  from {
    margin-top: -5rem;
  }
  to {
    margin-top: 0;
  }
}

@keyframes topToBottom {
  from {
    margin-top: -5rem;
  }
  to {
    margin-top: 0;
  }
}

@-webkit-keyframes fromLeft {
  from {
    left: 100%;
  }
  to {
    left: 25%;
  }
}

@keyframes fromLeft {
  from {
    left: 100%;
  }
  to {
    left: 25%;
  }
}

@-webkit-keyframes toRight {
  from {
    right: 100%;
  }
  to {
    right: 0;
  }
}

@keyframes toRight {
  from {
    right: 100%;
  }
  to {
    right: 0;
  }
}

@-webkit-keyframes imgHeight {
  from {
    height: 0;
  }
  to {
    height: 60rem;
  }
}

@keyframes imgHeight {
  from {
    height: 0;
  }
  to {
    height: 60rem;
  }
}

/* ASIDE */
.aside_right {
  width: 50%;
  height: 80rem;
  background-color: #c0b0b0;
  right: 0;
  top: 0;
  z-index: -5;
  /* CIRCLE AND ARROW */
}

@media screen and (max-width: 65.9375em) {
  .aside_right {
    width: 60%;
  }
}

@media screen and (max-width: 55rem) {
  .aside_right {
    width: 70%;
  }
}

.aside_right-slideshow_container {
  width: 60%;
  margin-top: 10rem;
}

@media screen and (max-width: 87.43755em) {
  .aside_right-slideshow_container {
    width: 80%;
  }
}

@media screen and (max-width: 65.9375em) {
  .aside_right-slideshow_container {
    width: 100%;
    margin-left: 3rem;
  }
}

.aside_right-circle {
  width: 20rem;
  height: 20rem;
  border: solid 2px white;
  border-radius: 50%;
  left: -10%;
  top: 40%;
}

@media screen and (max-width: 55rem) {
  .aside_right-circle {
    display: none;
  }
}

em.fa-arrow-down {
  color: white;
  margin: 0;
  font-size: 2rem;
  position: absolute;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

/* @import "_semester07";
@import "_semester01";
@import "_semester02";
@import "_semester03";
@import "_semester04"; */
/*# sourceMappingURL=style.css.map */